# dependencies
node_modules

.env
deploy_rsa
deploy_rsa.pub
package-lock.json

# testing
coverage

# production
dist
build
logs

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*

deploy_rsa.enc